{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 15rem; margin-top: 10px; height: 23rem;">
                <img src="{{i.image.url}}" class="card-img-top" width="100" height="250">
                <div class="card-body">
                    <h5 class="card-title">{{i.title}}</h5>
                    <a href="{% url 'movie_app:moviespath' i.id %}" class="btn btn-primary">More</a>
                </div>
            </div>
        </div> 
        {% endfor %} 
    </div>
    <div class="row">
        <div class="col-md-2 mt-3">
            <a href="{% url 'movie_app:add_movie' %}" class="btn btn-success">Add Movies</a>
        </div>
    </div>
</div>
{% endblock %}
